<p>
  <%= link_to article.title, article_path(article.id) %><span class="name">(<%= article.user.name %>)</span>
  <% if user_signed_in? %>
    <% if article.user.id == current_user.id %>
      [<%= link_to '編集', edit_article_path(article.id) %>]
      [<%= link_to '削除', article_path(article.id), method: :delete, remote: true, data: { confirm: "本当に消してよろしいですか？" } %>]
    <% end %>
  <% end %>
  <br>
  <%= article.text %>
</p>