<h2>記事詳細</h2>

<p>
  <%= @article.title %><span class="name">(<%= @article.name %>)</span>
  [<%= link_to '編集', edit_article_path(@article.id) %>]
  [<%= link_to '削除', article_path(@article.id), method: :delete, data: { confirm: "本当に消してよろしいですか？" } %>]<br>
  <%= @article.text %>
</p>

<%= image_tag 'sakura.jpg', :height => "100" %>