<h2>記事詳細</h2>

<p>
  <%= @article.title %><span class="name">(<%= @article.user.name %>)</span>
  <% if user_signed_in? %>
    <% if @article.user.id == current_user.id %>
      [<%= link_to '編集', edit_article_path(@article.id) %>]
    <% end %>
  <% end %>
  <br>
  <%= @article.text %>
</p>

<%= image_tag 'sakura.jpg', :height => "100" %><br>

<%= link_to '投稿一覧へ戻る', '/' %>